DATABASE_URL="REPLACE THIS WITH YOUR DATABASE URL"
GOOGLE_CLIENT_ID="REPLACE THIS WITH YOUR GOOGLE CLIENT ID"
GOOGLE_CLIENT_SECRET="REPLACE THIS WITH YOUR GOOGLE CLIENT SECRET"
NEXT_AUTH_SECRET="REPLACE THIS WITH YOUR NEXT AUTH SECRET"